/Hello World/nbproject/private/
/Perfect Numbers/nbproject/private/
/Monthly Sales Tax/nbproject/private/
/Monthly Sales Tax/build/
/Monthly Sales Tax/dist/
/Comparing Values/nbproject/private/
/Comparing Values/dist/
/Comparing Values/build/
/Pennies for Pay/nbproject/private/
/Pennies for Pay/build/
/Pennies for Pay/dist/
/Perfect Numbers/nbproject/private/
/test1/nbproject/private/
/Perfect Numbers/build/
/Perfect Numbers/dist/
/bre/nbproject/private/
/bre/build/
/Hello World/nbproject/private/
